<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách nhân viên</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
</head>
<body>
<h1 class="mt-4">Danh sách nhân viên</h1>
<a class="btn btn-primary mb-3" th:href="@{/employees/new}">Thêm nhân viên mới</a>

<table class="table table-striped table-bordered table-hover table-sm mt-4">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Tên</th>
        <th>Tuổi</th>
        <th>Avatar</th>
        <th>Status</th>
        <th>Phòng ban</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="emp : ${employees}">
        <td th:text="${emp.id}"></td>
        <td th:text="${emp.name}"></td>
        <td th:text="${emp.age}"></td>
        <td>
            <!-- Nếu có avatar thì hiển thị -->
            <img th:if="${emp.avatar != null}"
                 th:src="@{'/uploads/' + ${emp.avatar}}"
                 class="img-thumbnail"
                 style="width:50px; height:50px;"/>
            <!-- Nếu chưa có avatar -->
            <span th:if="${emp.avatar == null}">No Avatar</span>
        </td>
        <td th:text="${emp.status}"></td>
        <td th:text="${emp.department.name}"></td>
    </tr>
    </tbody>
</table>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
</body>
</html>
